<header>
    <p id="Headline">Velkommen til Taastrup Agility Klubs Stævneoversigt</p>
    <form action="/Admin" method="get">
        <button>Administrator</button>
    </form>
    <form action="/" method="get">
        <button>Stævneoversigt</button>
    </form>
</header>