<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/frontpage/computerScreen.css" media="screen and (min-width: 730px)">
        <link rel="stylesheet" href="/frontpage/phoneScreen.css" media="screen and (max-width: 729px)">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agility</title>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <div id="MainPage">
            <%- body %>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>