#resultatGitter{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.resultatTekst{
    height: auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}