.staevneList{
    display: flex;
    flex-direction: column;
}
.staevneBox{
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 8px 25px 0 rgba(53, 50, 50, 0.19);
    border-color: black;
    height: auto;
    width: 40%;
}
.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}