<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/frontpage/computerScreen.css" media="screen and (min-width: 730px)">
        <link rel="stylesheet" href="/frontpage/phoneScreen.css" media="screen and (max-width: 729px)">
        <link rel="stylesheet" href="/partialsCSS/staevneBox.css">
        <link rel="stylesheet" href="/partialsCSS/footer.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agility tilmelding</title>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <div id="MainPage">
            <div id="LeftSide">
                <Form>
                    <button type="submit">Se kommende begivenheder</button>
                </Form>
                <Form action="http://localhost:3000/Admin" method="get">
                    <button type="submit">Administrer stævne</button>
                </Form>
                <Form action="http://localhost:3000/Tilmelding" method="get">
                    <button type="submit">Tilmeld til stævne</button>
                </Form>
            </div>
            <div id="RightSide">
                <%- include('../partials/staevneBox.ejs') %>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>