<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/computerScreen.css" media="screen and (min-width: 730px)">
        <link rel="stylesheet" href="/phoneScreen.css" media="screen and (max-width: 729px)">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agility tilmelding</title>
    </head>
    <body>
        <header><p id="Headline">Her styre du et Agility stævne</p></header>
        <div id="MainPage">
            <div id="LeftSide">
                
            </div>
            <div id="RightSide">
                <p id="SecondHeadline">Tilmeld dig til stævne her</p>
                
            </div>
        </div>
        <Footer>
            <p id="FooterHeader">Om klubben</p>
        </Footer>
        
    </body>
</html>